.conteudo {
  display: flex;
  width: 90%;
  height: 100vh;
}
/* white square adjust */
.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10vh;
  width: 70%;
  height: 90vh;
  background: white;
}
/* banner display */
.cover {
  width: 60%;
  display: flex;
  margin-left: 20%;
  height: 160px;
  background-color: gray;
}

.cover img {
  width: 100%;
  height: 160px;
}

/* logo display */
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid orange;
  position: relative;
  bottom: 8rem;
  left: 24rem;
  background: white;
}

.logo-perfil {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* adjust div */

.adjust-div {
  margin-top: 10vh;
}

/* adjust title "configurações" */

.title-section {
  display: flex;
  justify-content: center;
}

/* upload buttons */

label {
  display: flex;
  align-items: center;
  width: 50%;
  height: 1%;
  margin-left: 5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 2px solid #cb6e00;
  border-radius: 0.5rem;
}

input {
  margin-left: 1rem;
}

.btn-container {
  display: flex;
  justify-content: end;
  margin-right: 2rem;
}

.salvar-btn {
  padding: 1% 3% 1% 3%;
  background: #cb6e00;
  color: white;
  border: solid #cb6e00;
  border-radius: 5px;
  cursor: pointer;
}

.salvar-btn:hover {
  background: #894c01;
}

/* não modifique a ordem dos @media pf */

@media (max-width: 1360px) {
  .logo-perfil {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid orange;
    position: relative;
    bottom: 7rem;
    left: 24rem;
    background: white;
  }

  label {
    display: flex;
    align-items: center;
    font-size: 13px;
    text-align: center;
    width: 50%;
    height: 1%;
    margin-left: 7.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 2px solid #cb6e00;
    border-radius: 0.5rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10vh;
    width: 70%;
    height: 90vh;
    background: white;
  }
}

@media (max-width: 1024px) {
  .logo-perfil {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid orange;
    position: relative;
    bottom: 7rem;
    left: 18rem;
    background: white;
  }

  label {
    display: flex;
    align-items: center;
    font-size: 13px;
    text-align: center;
    width: 50%;
    height: 1%;
    margin-left: 7.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 2px solid #cb6e00;
    border-radius: 0.5rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10vh;
    width: 70%;
    height: 90vh;
    background: white;
  }
}

@media (max-width: 640px) {
  .logo-perfil {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid orange;
    position: relative;
    bottom: 7rem;
    left: 10rem;
    background: white;
  }

  label {
    display: flex;
    align-items: center;
    font-size: 10px;
    text-align: end;
    width: 50%;
    height: 1%;
    margin-left: 5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 2px solid #cb6e00;
    border-radius: 0.5rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10vh;
    width: 70%;
    height: 90vh;
    background: white;
  }
}

@media (max-width: 400px) {
  .logo-perfil {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid orange;
    position: relative;
    bottom: 7rem;
    left: 5.5rem;
    background: white;
  }

  label {
    display: flex;
    align-items: center;
    font-size: 10px;
    text-align: center;
    width: 60%;
    height: 10%;
    margin-left: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 2px solid #cb6e00;
    border-radius: 0.5rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 10vh;
    width: 70%;
    height: 100%;
    background: white;
  }
}
