

:root {
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  --text-primary: #646464;
  --text-secondary: #CB6E00;
  --bg-primary: white;
  --bg-secondary: #E0E0E0;
  --transition-speed: 200ms;
}

.conteudo {
  margin-left: 5rem;
  padding: 1rem;
  padding-top: 5rem;
  transition: var(--transition-speed);
}

.conteudo.nav-ativa {
  margin-left: 16rem;
}

body {
  background-color: #E0E0E0;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #646464;
}

body::-webkit-scrollbar-thumb {
  background: #CB6E00;
}

.top-navbar {
  width: 100%;
  height: 5rem;
  margin-left: 5rem;
  position: fixed;
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-left: 1rem;
  border-bottom: solid #cbcbcb 1px;
  transition: var(--transition-speed);
}

.left-navbar.active .top-navbar {
  margin-left: 16rem;
  transition: var(--transition-speed);
}

#ebatata {
  color: #CB6E00;
  font-size: 2.5rem;
  padding-left: 0.5rem;
}

.left-navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: white;
  border-right: solid #cbcbcb 1px;
}

.navbar-nav {
  
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  
}

.left-navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 200ms ease;
}

.nav-item {
  width: 100%;
}

.nav-logo {
  display: flex;
  align-items: center;
  height: 5rem;
  background-color: white;
  color: var(--text-secondary);
  text-decoration: none;
  filter: grayscale(0%) opacity(1);
}

.nav-link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 5rem;
  background-color: white;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(1);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.nav-link.pagina-atual {
  filter: grayscale(0%) opacity(1);
  color: var(--text-secondary);
}

.link-text {
  display: inline;
  position: absolute;
  left: 20px;
  opacity: 0;
  font-size: 0;
  transition: var(--transition-speed);
}

.icones-navbar {
  width: 2rem;
  margin-left: 1.5rem;
}

.nav-link svg {
  width: 2rem;
  margin-left: 1.5rem;
}

.seta-subnav {
  width: 1rem;
  position: absolute;
  left: 0.5rem;
  transform: rotate(-90deg);
}

.seta-minhaloja,
.seta-relatorios,
.seta-configuracoes {
  visibility: hidden;
  width: 1rem;
  position: absolute;
  left: 3rem;
}

.seta-minhaloja.active,
.seta-relatorios.active,
.seta-configuracoes.active {
  visibility: visible;
  width: 1rem;
  position: absolute;
  left: 14rem;
  transition: var(--transition-speed);
}

.seta-minhaloja.open,
.seta-relatorios.open,
.seta-configuracoes.open {
  transform: rotate(-180deg);
  transition: var(--transition-speed);
}

.fa-primary {
  color: #CB6E00;
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-primary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  width: 2rem;
  margin-left: 1.5rem;
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -500px;
  transition: var(--transition-speed);
}

.left-navbar.active .logo svg {
  transform: rotate(-180deg);
}

.subnav-minhaloja,
.subnav-relatorios,
.subnav-configuracoes {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  height: 100%;
  background-color: var(--bg-secondary);
  transition: var(--transition-speed);
}

.subnav-item {
  width: 100%;
}

.subnav-link {
  display: flex;
  align-items: center;
  height: 2.5rem;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(1);
  padding-left: 30px;
}

.subnav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--text-secondary);
  color: white;
}

.subnav-link.pagina-atual {
  filter: grayscale(0%) opacity(1);
  background: var(--text-secondary);
  color: white;
}

.left-navbar {
  top: 0;
  width: 5rem;
  height: 100vh;
}

.left-navbar.active {
  width: 16rem;
}

.left-navbar.active .link-text {
  opacity: 1;
  left: 70px;
  font-size: 1rem;
}

.left-navbar.active .logo svg {
  margin-left: 12.5rem;
}

.left-navbar.active .logo-text {
  left: 20px;
}

.subnav-minhaloja.active,
.subnav-relatorios.active,
.subnav-configuracoes.active {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#cor-nome {
  color: #CB6E00;
}



#titulo{
  text-align: center;
  color:#646464;
  border-bottom: 1px solid #b7b7b7; 
}

#button-salvar { 
  margin-left: 90%;
  background-color: #CB6E00;
  color:white;
  border-radius: 5px;
  border: 5px solid #CB6E00;
}

#button-salvar:hover{
  background-color: #8e4e00;
}

#foto {
 
  margin-left: 75px;
}

#imgPhoto {
  max-width: 300px;
  width: 120%;
  padding: 60px;
  background-color: #E0E0E0;
  border: 2px solid #ccc;
  border-radius: 100%;
}


.format-form {  
  width: 1820px; 
}

div{
  display:inline-block;  
}

.fundo-form {
  background-color: white;
  border-radius: 10px;
  height:700px;
  border: 2px solid #ccc;
}

.input-format {
  background-color:#E0E0E0;
  border-radius: 10px;
  width: 750px;
  height: 45px;
  border: 2px solid #ccc;
}

.input-format-tel {
  background-color:#E0E0E0;
  border-radius: 10px;
  width: 750px;
  height: 45px;
  border: 2px solid #ccc;
}

.input-format-num {
  background-color:#E0E0E0;
  border-radius: 10px;
  width: 70px;
  height: 45px;
  border: 2px solid #ccc;
}

.input-format3 {
  background-color:#E0E0E0;
  border-radius: 10px;
  width: 750px;
  height: 45px; 
  border: 2px solid #ccc;
}

.input-format-end {
  background-color:#E0E0E0;
  border-radius: 10px;
  width: 600px;
  height: 45px;
  border: 2px solid #ccc;
}

.container-a {
  float: left;
  text-align:right;
}

.container-b {  
  float: right;
  text-align: right;
}

.fieldset-clientes {
  background-color:#CB6E00;
  color: white;
  border-radius: 10px;
  width: 1792px;
  height:70px;
  border: 2px solid #ccc;
}

.titulo-cliente {
  text-align: center;
}

#button-novo-cliente{
  background-color:limegreen;
  color:white;
  border-radius: 5px;
  border: 5px solid limegreen;
  width: 300px;
  height:50px;
  font-size: 18px;
}

#button-novo-cliente:hover{
  background-color: rgb(32, 130, 32);
}

#button-editar{  
  background-color:#CB6E00;
  color:white;
  border-radius: 5px;
  border: 5px solid #CB6E00;
  width: 300px;
  height:50px;
  font-size: 18px;
}

#button-editar:hover{
  background-color: #8e4e00;
}

#filtro-clientes {
  background-color: white;
  color: #646464;
  border-radius: 5px;
  border: 2px solid #b7b7b7;
  width: 300px;
  height:50px;
  font-size: 18px;
  margin-left: 40%;
}

.pesquisa-txt{
  background-color: white;
  color: #646464;  
  width: 450px;
  height: 45px;
  border-radius: 5px;
  border: 2px solid #b7b7b7;
  font-size: 18px;
  margin-left: 30%;
}

#button-buscar{
  background-color:#CB6E00;
  color:white;
  border-radius: 5px;
  border: 5px solid #CB6E00;
  width: 300px;
  height:50px;
  font-size: 18px;
  margin-left: 49%;
}

#button-buscar:hover{
  background-color: #8e4e00;
}

.tabela-cliente{
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 1816px;
  height: 500px;
  border: 2px solid #ccc;
  padding: 5px 2px 5px 30px;
  
}

.cabecalho-cliente{
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-collapse: collapse;
}

.cabecalho-cliente2{
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  border-bottom: 3px solid black;
  border-collapse: collapse;
}

.colunas-cliente{
  text-align: center;
  border-right: 3px solid black;
  border-collapse: collapse;
  padding: 4px 2px 4px 2px;
}

.colunas-cliente2{
  text-align: center;
  padding: 4px 2px 4px 2px;
}

.destaque:hover{
  background-color: #CB6E00;
  color: white;
}

#button-nova-taxa{
  background-color:limegreen;
  color:white;
  border-radius: 5px;
  border: 5px solid limegreen;
  width: 300px;
  height:50px;
  font-size: 18px;
}

#button-nova-taxa:hover{
  background-color:  rgb(32, 130, 32);
}

#button-editar-taxa{  
  background-color:#CB6E00;
  color:white;
  border-radius: 5px;
  border: 5px solid #CB6E00;
  width: 300px;
  height:50px;
  font-size: 18px;
}

#button-editar-taxa:hover{
  background-color: #8e4e00;
}

#cor-taxa {
  color: #CB6E00;
}

.tabela-taxa{
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 800px;
  height: 500px;
  border: 2px solid #ccc;
  padding: 5px 2px 5px 30px;
}

.cabecalho-taxa{
  text-align: left;
  font-weight: bolder;
  font-size: 20px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-collapse: collapse;
}

.cabecalho-taxa2{
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  padding: 4px 16px 4px 16px;  
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-collapse: collapse;
}

.cabecalho-taxa3{
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  border-bottom: 3px solid black;
  border-collapse: collapse;
}

.colunas-taxa{
  text-align:left;
  border-right: 3px solid black;
  border-collapse: collapse;
  padding: 4px 2px 4px 2px;
}

.colunas-taxa2{
  text-align:right;
  border-right: 3px solid black;
  padding: 4px 2px 4px 2px;
}

.colunas-taxa3{
  text-align:right;
  padding: 4px 2px 4px 2px;
}

.destaque2:hover{
  background-color: #CB6E00;
  color: white;
}

#detalhe-button{
  color:white;
}

#modal-novo-cliente{
  display: flex;
}

.modal-cliente{
  background-color: rgba(0, 0, 0, .8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.modal-content{
  background-color: white;
  border: 3px solid #b7b7b7;
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 25vw;
  height: 48vh;
  margin-left: 800px;
  margin-top: 250px;
}

.modal-body, .modal-footer{
  padding: 10px;
}

.modal-footer{
  margin-left: 140px;
}

.titulo-novo-cliente{
  text-align: center;
}


.form-add-cliente{
  float: center;
  text-align:right;
  margin-right: 35px;
}

.format-input-addcliente{
  background-color:#E0E0E0;
  border-radius: 10px;
  width: 300px;
  height: 20px;
  border: 2px solid #ccc;
}

.button-cancelar, .button-salvar-cliente{
  color:white;
  border-radius: 5px;
  width: 100px;
  height:30px;
  font-size: 15px;
}

.button-salvar-cliente{
  background-color:#CB6E00; 
  color: white;
  border: 5px solid #CB6E00;
}

.button-cancelar{
  background-color:#b7b7b7;
  color: white;
  border: 5px solid #b7b7b7;
}

.button-salvar-cliente:hover{
  background-color: #8e4e00;
}

.button-cancelar:hover{
  background-color: #9b9999;
}

.form-add-taxa{
  float: center;
  text-align:right;
  margin-right: 15px;
}

#modal-nova-taxa{
  display: none;
}

.modal-taxa{
  background-color: rgba(0, 0, 0, .8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

