* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

.table {
    max-width: 1200px;
    margin: 50px auto 0;
    box-shadow: 0 0.15rem 1.75rem rgba(33, 40, 50, 0.15);
}

.table .top-title {
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.03);
    padding: 1rem 1.35rem;
}

.top-title h2 {
    font-size: 16px;
    color: #0061f2;
    font-weight: 500;
}

.wrap-content {
    padding: 1.5rem;
}

.search {
    border: 1px solid #ccc;
    margin: 10px 20px 0;
    width: 100%;
    padding: 8px 10px;
    border-radius: 4px;
    max-width: 320px;
    outline: none;
}

.search::placeholder {
    color: #69707a;
    font-size: 14px;
}

.wrap-title {
    padding: 10px 0;
    
}

.wrap-title .id,
.wrap-title .client,
.wrap-title .data,
.wrap-title .number,
.wrap-title .address,
.wrap-title .status,
.wrap-title .pay,
.wrap-title .itens,
.wrap-title .discount,
.wrap-title .total {
    font-size: 16px;
    font-weight: bold;
    color: #69707a;
}

.wrap-title {
   
    text-align: center;
    justify-content:last baseline;
    display: grid;
    grid-template-columns: 1fr repeat(10, 10%);

}

.wrap-item {
    
    text-align: center;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr repeat(10, 10%);
}

.wrap-title {
    border-bottom: 1px solid #000;
}

.wrap-item {
   
    padding: 10px 0;
    
    border-bottom: 1px solid rgba(143, 140, 140, 0.24);
}

.wrap-item:nth-child(odd) {
    background-color: #c8cfd842;
}

.wrap-item .id {
    font-size: 16px;
    color: #69707a;
    font-weight: bold;
}

.id {
    padding: 0 10px;
}

.wrap-item .data,
.wrap-item .number,
.wrap-item .client,
.wrap-title .address,
.wrap-title .status,
.wrap-title .pay,
.wrap-title .itens,
.wrap-title .discount,
.wrap-title .total {
    font-size: 16px;
    font-weight: 400;
}



.wrap-item .data {
    display: grid;
    align-items: center;
}

.wrap-pagination {
    display: flex;
    width: max-content;
    border: 1px solid #d4dae3;
    align-items: center;
    margin-top: 20px;
}

.wrap-pagination .number {
    cursor: pointer;
    width: 20px;
    border-right: 1px solid #d4dae3;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: center;
}

.wrap-pagination .number:last-child {
    border-right: none;
}

.wrap-pagination .number.selected {
    background-color: #0061f2;
    color: white;
}

@media (max-width:767px) {
    .top-title h2 {
        font-size: 14px;
    }
    .wrap-title .id,
    .wrap-title .data,
    .wrap-title .number,
    .wrap-title .client,
    .wrap-title .address,
    .wrap-title .status,
    .wrap-title .pay,
    .wrap-title .itens,
    .wrap-title .discount,
    .wrap-title .total,
    .wrap-item .data,
    .wrap-item .number,
    .wrap-item .client,
    .wrap-item .id,
    .wrap-title .address,
    .wrap-title .pay,
    .wrap-title .total,
    .wrap-title .itens,
    .wrap-title .discount,
    .wrap-title .data {
        font-size: 12px;
    }
    .wrap-title,
    .wrap-item {
        grid-template-columns: 1fr repeat(10, 10%);
    }
}